<div class="character-card">
    <div class="character-card-language">
            @foreach (var lang in Util.BuildLanguageArray(Character.Lang)) {
                string iconName = lang + ".png";
                <img class="@lang" src="~/i/@iconName"/>
            }
    </div>
    <span><img src="@Character.Avatar"/></span>
    <span><a target="_blank" href="@Util.BuildLodestoneUrl(Character.ID)">@Character.Name</a></span>
    <span>@Character.Server</span>
</div>

@code {
    [Parameter]
    public CharacterSearchResult Character { get; set; }
}
