<div class="character-card">
    <div>
        @foreach (var lang in Util.BuildLanguageArray(Character.Lang))
        {
            string iconName = lang + ".png";
            <img class="character-card-language @lang.ToLower()" src="/i/@iconName" width="16" height="16" />
        }
    </div>
    <div class="@Character.Rank.DefaultIfNull("member").ToLower()">
        <img class="character-card-avatar" src="@Character.Avatar" />
    </div>
    <p class="name"><a target="_blank" href="@Util.BuildLodestoneUrl(Character.ID)">@Character.Name</a></p>
    <p class="world">@Util.GetWorld(Character.Server)</p>
    <!--Make this actually convert the time at some point-->
    <p class="last-seen">@Util.GetLocalDateTime(DateTime.Now.ToBinary()).ToString("d/M/yyy\"\n\"H:mm")</p>
</div>

@code {
    [Parameter]
    public CharacterSearchResult Character { get; set; }
}
